body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --containerWidth: 900px;
    --containerHeight: 600px;
    
    --barColor: black;
    --barWidth: 30px;
    --barHeight: 170px;
    
    --ballSize: 50px;
    --ballColor: rgb(255, 61, 61);
    
    margin: 20px;
}
.container{
    width: var(--containerWidth);
    height: var(--containerHeight);
    position: relative;
}
.bar{
    width: var(--barWidth);
    height: var(--barHeight);
    background-color: var(--barColor);

    position: absolute;
}
#bar__right{
    left: calc(var(--containerWidth) - var(--barWidth));
    /* top: calc(var(--containerHeight) - var(--barHeight)); */
}
#ball{
    width: var(--ballSize);
    height: var(--ballSize);
    left: calc(var(--containerWidth) / 2);
    top: calc(var(--containerHeight) / 2);
    border-radius: 50%;
    background-color: var(--ballColor);

    position: absolute;
}